<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zunke.shopmanager.mapper.AlipaySubsidiaryMapper">

    <!--套菜中单品数量通过dishesName作为筛选条件查询-->
    <select id="selectPriceBycartId" resultType="Double">
        select cart_price from cart
        where id = #{cartId}
    </select>



</mapper>