<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zunke.shopmanager.mapper.CartDishesComboMapper">

    <resultMap type="com.zunke.shopmanager.pojo.CartDishesCombo" id="cartDishesComboMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="cartId" column="cart_id" jdbcType="VARCHAR"/>
        <result property="dishesId" column="dishes_id" jdbcType="INTEGER"/>
        <result property="comboId" column="combo_id" jdbcType="INTEGER"/>
        <result property="dishesNumber" column="dishes_number" jdbcType="INTEGER"/>
        <result property="comboNumber" column="combo_number" jdbcType="INTEGER"/>
    </resultMap>

    <resultMap type="com.zunke.shopmanager.dto.DishesCount" id="dishesCountMap">
        <id property="id" column="c2id" jdbcType="INTEGER"/>
        <result property="categoriesName" column="categories_name" jdbcType="VARCHAR"/>
        <result property="dishesCount" column="countDishes" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有主键和名称-->
    <select id="selectAll" resultMap="cartDishesComboMap">
        select
        id, cart_id, dishes_id, combo_id, dishes_number, combo_number
        from zunkeu8.cart_dishes_combo
        <where>
            <if test="cartId != null and cartId != ''">
                cart_id = #{cartId},
            </if>
            <if test="dishesId != null">
                dishes_id = #{dishesId},
            </if>
            <if test="camboId != null">
                cambo_id = #{camboId},
            </if>
            <if test="dishesNumber != null">
                dishes_number = #{dishesNumber},
            </if>
            <if test="comboNumber != null">
                combo_number = #{comboNumber},
            </if>
        </where>
    </select>

    <!--查询单个-->
    <select id="selectById" resultMap="cartDishesComboMap">
        select id,
               cart_id,
               dishes_id,
               combo_id,
               dishes_number,
               combo_number
        from zunkeu8.cart_dishes_combo
        where id = #{id}
    </select>

    <!--根据条件查询当前表的满足条件的个数-->
    <select id="selectForCount" resultType="int">
        select
        count(id)
        from zunkeu8.cart_dishes_combo
        <where>
            <if test="name != null and name != ''">
                id like "%"#{name}"%"
            </if>
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectForPage" resultMap="cartDishesComboMap">
        select
        id, cart_id, dishes_id, combo_id, dishes_number, combo_number
        from zunkeu8.cart_dishes_combo
        <where>
            <if test="name != null and name != ''">
                id like "%"#{name}"%"
            </if>
        </where>
        limit #{index},#{limit};
    </select>

    <!--新增所有列-->
    <insert id="insert" parameterType="com.zunke.shopmanager.pojo.CartDishesCombo">
        insert into zunkeu8.cart_dishes_combo
            <choose>
                <when test="dishesId != null and dishesId != 0">
                    (cart_id, dishes_id, dishes_number) values (#{cartId}, #{dishesId}, 1)
                </when>
                <when test="comboId != null and comboId != 0">
                    (cart_id, combo_id, combo_number) values (#{cartId}, #{comboId}, 1)
                </when>
            </choose>
<!--            <if test="dishesId != null and dishesId != 0">-->
<!--                (cart_id, dishes_id, dishes_number) values (#{cartId}, #{dishesId}, 1)-->
<!--            </if>-->
<!--            <if test="comboId != null and comboId != 0">-->
<!--                (cart_id, combo_id, combo_number) values (#{cartId}, #{comboId}, 1)-->
<!--            </if>-->
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.zunke.shopmanager.pojo.CartDishesCombo">
        update zunkeu8.cart_dishes_combo
        <set>
            <if test="cartId != null and cartId != ''">
                cart_id = #{cartId},
            </if>
            <if test="dishesId != null">
                dishes_id = #{dishesId},
            </if>
            <if test="camboId != null">
                cambo_id = #{camboId},
            </if>
            <if test="dishesNumber != null">
                dishes_number = #{dishesNumber},
            </if>
            <if test="comboNumber != null">
                combo_number = #{comboNumber},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from zunkeu8.cart_dishes_combo
        where id = #{id}
    </delete>
    <!--通过购物车主键和菜品查询数据-->
    <select id="selectByCartIdAndDishesIdOrComboId" resultMap="cartDishesComboMap">
        select * from cart_dishes_combo where cart_id=#{cartId}
            <if test="dishesId != null and dishesId != 0">
                and dishes_id=#{dishesId}
            </if>
            <if test="comboId != null and comboId != 0">
                and combo_id=#{comboId}
            </if>
    </select>

    <!--修改数据-->
    <update id="addNumber">
        update cart_dishes_combo set
                <if test="dishesId != null and dishesId != 0">
                    dishes_number=#{dishesNumber}+1 where cart_id=#{cartId} and dishes_id=#{dishesId}
                </if>
                <if test="comboId != null and comboId != 0">
                    combo_number=#{comboNumber}+1 where cart_id=#{cartId} and combo_id=#{comboId}
                </if>
    </update>


    <!--修改数据-->
    <update id="cutNumber">
        update cart_dishes_combo set
            <if test="dishesId != null and dishesId != 0">
                dishes_number=#{dishesNumber}-1 where cart_id=#{cartId} and dishes_id=#{dishesId}
            </if>
            <if test="comboId != null and comboId != 0">
                combo_number=#{comboNumber}-1 where cart_id=#{cartId} and combo_id=#{comboId}
            </if>

    </update>

    <!--删除数据-->
    <delete id="deleteByNumber">
        delete from zunkeu8.cart_dishes_combo where cart_id = #{cartId}
        <choose>
            <when test="dishesId != null and dishesId != 0">
                and dishes_id=#{dishesId}
            </when>
            <when test="comboId != null and comboId != 0">
                and combo_id=#{comboId}
            </when>
            <otherwise>
                and 1==2
            </otherwise>
        </choose>
    </delete>

    <!--删除数据-->
    <delete id="clearCart">
        delete from zunkeu8.cart_dishes_combo where cart_id = #{cartId}

    </delete>

    <select id="selectDishesCount" resultMap="dishesCountMap">
        select c2.id as c2id, c2.categories_name, count(dishes_number) as countDishes from cart_dishes_combo cdc
            left join cart c1 on cdc.cart_id = c1.id
            left join dishes d1 on cdc.dishes_id = d1.id
            left join subcategories s on d1.subcategories_id = s.id
            left join categories c2 on s.categories_id = c2.id
        where cart_id=#{cartId} and c2.id is not null group by c2.id;
    </select>

    <select id="selectComboCount" resultType="int">
        select count(combo_number) as countCombo from cart_dishes_combo cdc
              left join cart c1 on cdc.cart_id = c1.id
              left join combo c2 on cdc.combo_id = c2.id
        where cart_id=#{cartId};
    </select>

<!--    <select id="selectdishesNumberByCategories" resultMap="">-->
<!--        select count(combo_number) as countCombo from cart_dishes_combo cdc-->
<!--                                                          left join cart c1 on cdc.cart_id = c1.id-->
<!--                                                          left join combo c2 on cdc.combo_id = c2.id-->
<!--        where cart_id=#{cartId};-->
<!--    </select>-->
</mapper>
