<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zunke.shopmanager.mapper.DishesRecipeMapper">

    <resultMap type="com.zunke.shopmanager.pojo.DishesRecipe" id="dishesRecipeMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="dishesId" column="dishes_id" jdbcType="INTEGER"/>
        <result property="recipeId" column="recipe_id" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询所有主键和名称-->
    <select id="selectAll" resultMap="dishesRecipeMap">
        select
        id, dishes_id, recipe_id
        from zunkeu8.dishes_recipe
        <where>
            <if test="dishesId != null">
                dishes_id = #{dishesId},
            </if>
            <if test="recipeId != null">
                recipe_id = #{recipeId},
            </if>
        </where>
    </select>

    <!--查询单个-->
    <select id="selectById" resultMap="dishesRecipeMap">
        select
               dishes_id,
               recipe_id
        from zunkeu8.dishes_recipe
        where id = #{id}
    </select>

    <!--根据条件查询当前表的满足条件的个数-->
    <select id="selectForCount" resultType="int">
        select
        count(*)
        from zunkeu8.dishes_recipe
        <where>
            <if test="name != null and name != ''">
                id like "%"#{name}"%"
            </if>
        </where>
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="selectForPage" resultMap="dishesRecipeMap">
        select
         dishes_id, recipe_id
        from zunkeu8.dishes_recipe
        <where>
            <if test="name != null and name != ''">
                id like "%"#{name}"%"
            </if>
        </where>
        limit #{index},#{limit};
    </select>

    <!--新增所有列-->
    <insert id="insert" parameterType="com.zunke.shopmanager.pojo.DishesRecipe">
        insert into zunkeu8.dishes_recipe(dishes_id, recipe_id)
        values (#{dishesId}, #{recipeId})
    </insert>

    <!--通过主键修改数据-->
    <update id="updateById" parameterType="com.zunke.shopmanager.pojo.DishesRecipe">
        update zunkeu8.dishes_recipe
        <set>
            <if test="dishesId != null">
                dishes_id = #{dishesId},
            </if>
            <if test="recipeId != null">
                recipe_id = #{recipeId},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from zunkeu8.dishes_recipe
        where id = #{id}
    </delete>


    <!--通过菜品主键和做法主键删除-->
    <delete id="deleteByDishesIdAndRecipeId">
        delete
        from zunkeu8.dishes_recipe
        where recipe_id = #{recipeId} and dishes_id = #{dishesId}
    </delete>
</mapper>
