<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zunke.shopmanager.mapper.DownLaodNumberInforMapper">
    <resultMap type="com.zunke.shopmanager.pojo.Mumber" id="mumberMap">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="mumberName" column="mumber_name" jdbcType="VARCHAR"/>
        <result property="mumberPhone" column="mumber_phone" jdbcType="VARCHAR"/>
        <result property="mumberBirthday" column="mumber_birthday" jdbcType="TIMESTAMP"/>
        <result property="mumberBalance" column="mumber_balance" jdbcType="NUMERIC"/>
        <result property="mumberTotalCost" column="mumber_total_cost" jdbcType="NUMERIC"/>
        <result property="mumberIntegral" column="mumber_integral" jdbcType="INTEGER"/>
        <result property="mumberAction" column="mumber_action" jdbcType="INTEGER"/>
        <result property="mumberRergistrationTime" column="mumber_rergistration_time" jdbcType="TIMESTAMP"/>
        <association property="mumberLevel" javaType="com.zunke.shopmanager.pojo.MumberLevel">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="numberLevelName" column="number_level_name" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <select id="selectByIds" resultMap="mumberMap">
        select
            m.id,m.mumber_name,m.mumber_phone,m.mumber_birthday,m.mumber_balance,m.mumber_total_cost,m.mumber_integral,ml.number_level_name,m.mumber_action,m.mumber_rergistration_time
        from (select * from zunkeu8.mumber where mumber_action =1 and role_id = 0) m
                 left join zunkeu8.mumber_level ml on  m.mumber_level_id= ml.id
        where
            <foreach collection="list" item="ids" separator="or">

                m.id = #{ids}
            </foreach>

    </select>

    <!--查询单个-->

</mapper>